/* Empty. Add your own CSS if you like */

.icon-se {
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-size : 25px !important;
    border-radius: 50% !important;
    background: transparent;
    cursor: pointer;
}

.icon-se > .icon{
    right: 3px;
    left: 3px;
}

.item-person {
    padding: 5px;
}

.item-person h2,
.item-person p {
    padding-left: 10px;
}

.item-person .icon-se {
    width: 50px;
    height: 50px;
}
.item-person .icon {
    position: relative;
    top: 4px;
    left: 0px;
    right: 0px;
    font-size: 33px;
}

.icon-rejected {
    background-color:red;
    border:1px red solid;
    color: white !important;
}

.icon-accepted {
    background-color:green;
    border:1px green solid;
    color: white !important;
}

.icon-unknown {
    border:1px gray solid;
    background-color:gray;
    color: white !important;
}

.icon-se.bulk {
    border: none !important;
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    font-size : 25px !important;
}
.icon-se.bulk div {
    background: transparent !important;
}

/*.alert {*/
    /*padding: 15px;*/
    /*margin-bottom: 20px;*/
    /*border: 1px solid transparent;*/
    /*border-radius: 4px;*/
/*}*/


.message-queue .button,
.message-queue .item-content {
    background: transparent;
    padding: 0;
}
.message-queue .list {
    background: rgba(0, 0, 0, 0.34);

    padding-top: 2px;
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
    margin: 0 1px;
}

.message-queue .list .alert {
    width: 99.5% !important;
}

.alert {
    padding: 15px;
    margin: 2px 5px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}



.raw-message {
    max-height: 0;
}

.se-spacer {
    height: 32px;
    line-height: 32px;
    padding: 5px;
}

.se-spacer-2x {
    height: 64px;
    line-height: 64px;
    padding: 5px;
}

.se-spacer-3x {
    height: 96px;
    line-height: 96px;
    padding: 5px;
}


.se-background-color {
    background: #39B0DA;
    color: #ffffff;
}


.grayedout {
    font-style: italic;
    color: #626262;
}

input:disabled + .checkbox-icon:before {
    border-color: silver !important;
    background-color: silver !important;
}
input:disabled:checked + .checkbox-icon:before {
    background-color: silver !important;
}



.bar.bar-dark{
    background-color: #39B0DA;
    border-top: 1px solid #287d9a;
    border-bottom: 1px solid #1c596e;
}
.menu.menu-left {
    background-color: #25718B;
}

.menu.menu-left .item{
    border-bottom: 1px solid #1c596e;
    border-top: 1px solid #287d9a;
}

.menu.menu-left .item .item-content {
    background-color: #25718B;
    color: #39B0DA;
}

.menu.menu-left .item-divider {
    padding-bottom: 0;
    padding-top: 0;
}

.menu.menu-left .item-divider .item-content {
    background-color: #39B0DA;
    color: #ffffff;
}

.menu.menu-left .item.active .item-content{
    color: #f2f2f2;
}

.user-info {
    background: #eeeeee;
    border-bottom: 2px #c2c2c2;
}

.menu.menu-left .item .page-icon {
    font-size: 30px;
    left: 20px;
}

.menu.menu-left .item .icon-indicator {
    visibility: hidden;
}

.menu.menu-left .item.active .icon-indicator {
    visibility: visible;
    left: initial;
    right: -11px;
    color: white;
    font-size: 24px;
}

.item-se-logo {
    background-color: #ffffff;
}


.item-avatar *[class^='icon-']:first-child,
.flip-container
{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px;
}

/*flipper*/
.flip-container {
    width: 40px;
    height: 40px;

    display: inline-block;
}

.flip-container.selected .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container .flipper {

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.flip-container .front,
.flip-container .back {
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.flip-container .front {
    z-index: 2;
}

.flip-container .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

.popup-container .popup {
    width: 90%;
    border-radius: 5px;
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1); }
.platform-android .action-sheet {
    align-content: center;
    margin:auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;}
.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    /*border-color: #e2e2e2;*/
    font-size: 16px;
    color: inherit;}
.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666; }
.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
}
.platform-android .action-sheet .button.destructive {
    color: red;
}
.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8; }
.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa; }
.platform-android .action-sheet-cancel {
    display: none;
}
.platform-android .action-sheet-has-icons .button {
    padding-left: 56px; }

.loading {
    background: #39B0DA!important;
}

.se-loading .spinner svg {
    width: 48px;
    height: 48px;
    stroke: #fff;
    fill: #fff;
}