/* Customizing popup */
.popup-container .popup {
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.95);

}

/* Customize loading */

.loading {
    background: rgba(57,176,218,0.7)!important;
}

.se-loading .spinner svg {
    width: 48px;
    height: 48px;
    stroke: #fff;
    fill: #fff;
}

/* Customize bar */
.bar.bar-calm {
    background-color: #39B0DA;
    border-top: 1px solid #287d9a;
    border-bottom: 1px solid #1c596e;
}


/* Customizing actionsheet */

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin:auto;
    max-width: 96vw;
    border-radius: 5px;
    /*margin: 0;*/
    margin-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
    text-align: left;
    /*border-color: #e2e2e2;*/
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
}

.platform-android .action-sheet .button.destructive {
    color: #ff0000;
}

.platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    /*margin: 0;*/
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-cancel {
    display: none;
}
.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

/* Alerts */

.alert {
    padding: 15px;
    border: 1px solid transparent;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* Menu left */
.menu.menu-left {
    background-color: #25718B;
}

.menu.menu-left .item{
    border-bottom: 1px solid #1c596e;
    border-top: 1px solid #287d9a;
}

.menu.menu-left .item .item-content {
    background-color: #25718B;
    color: #39B0DA;
}

.menu.menu-left .item-divider {
    padding-bottom: 0;
    padding-top: 0;
}

.menu.menu-left .item-divider .item-content {
    background-color: #39B0DA;
    color: #ffffff;
}

.menu.menu-left .item.active .item-content {
    color: #f2f2f2;
}

.menu.menu-left .item .page-icon {
    font-size: 30px;
    left: 20px;
}

.menu.menu-left .item .icon-indicator {
    visibility: hidden;
}

.menu.menu-left .item.active .icon-indicator {
    visibility: visible;
    left: initial;
    right: -11px;
    color: white;
    font-size: 24px;
}

/* dashboard style */

.dashboard-item {
    width: 100%;
    text-align: left;
}

.dashboard-title {
    font-size: 150%;
    line-height: 200%;
    margin-left: 15px;
}

.dashboard-item-name {
    display: inline-block;
    font-size: 110%;
    line-height: 150%;
}

/* Icons */
.icon-se {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 49px;
    text-align: center;
    vertical-align: middle;
    font-size : 35px !important;
    border-radius: 50% !important;
    background: transparent;
    cursor: pointer;
}

.icon-se > .icon {
    right: 3px;
    left: 3px;
}

.item-person {
    padding: 5px;
}

.item-person h2,
.item-person p {
    padding-left: 10px;
}

.item-person .icon-se {
    width: 50px;
    height: 50px;
}
.item-person .icon {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    font-size: 33px;
}

.icon-rejected {
    background-color: #ef473a;
    border:1px #e42112 solid;
    color: white !important;
}

.icon-unknown {
    border:1px gray solid;
    background-color:gray;
    color: white !important;
}

.icon-blue {
    border:1px #38add6 solid;
    background-color: #39B0DA;
    color: white !important;
}

.item-avatar *[class^='icon-']:first-child {
    position: absolute;
    top: 5px;
    left: 5px;
}

/* Flipper */
.flip-container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.flip-container.selected .flipper, .flip:before {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip:before {
    padding-right: 0!important;
    padding-left: .2em!important;
}

.flip-container .flipper {

    -webkit-transition: 0.5s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.5s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.5s;
    -o-transform-style: preserve-3d;

    transition: 0.5s;
    transform-style: preserve-3d;

    position: relative;
}

.flip-container .front,
.flip-container .back {
    width: 100%;
    height:100%;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

.flip-container .front {
    z-index: 2;
}

.flip-container .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    background: #f8f8f8;
}

/* Utility */

.se-background-color {
    background: #39B0DA;
    color: #ffffff;
}

.grayedout {
    background: #eeeeee;
}

.se-spacer {
    height: 32px;
    line-height: 32px;
    padding: 5px;
}

.se-spacer-2x {
    height: 64px;
    line-height: 64px;
    padding: 5px;
}

.se-spacer-3x {
    height: 96px;
    line-height: 96px;
    padding: 5px;
}