<div class="left-menu">
    <div class="left-menu-header">
        <h3 class="title text-center">{{::username}}</h3>
        <div class="text-center">
            <span class="role">{{::role}}</span>
        </div>
    </div>
    <ion-list class="left-menu-list">
        <div ng-repeat="item in menuItems" ng-if="!item.data.noDash">
            <ion-item
                    ng-repeat="page in item.items"
                    class="item-icon-right se-menu-entry"
                    ui-sref-active="active"
                    ui-sref="{{::page.data.state}}">

                <i class="icon {{::page.data.icon}}"></i> {{::page.data.name}}
            </ion-item>
        </div>
    </ion-list>
    <div class="log-out-box">
        <div class="padding">
            <button class="button button-block button-light metallic-border log-out" on-tap="logout()">
                <i class="icon ion-ios-download-outline icon-rotate-90"></i>&nbsp;&nbsp;Log out
            </button>
        </div>
        <div class="text-center">
            © Spamexperts
        </div>
    </div>
</div>