<ion-view view-title="Dashboard" class="se-background">
    <ion-header-bar align-title="center" class="bar-transparent">
        <div class="buttons">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header" style="overflow:hidden">
        <div message-queue></div>

        <div class="dashboard-header">
            <h3 class="title text-center">Hello {{::username}}!</h3>
            <div class="text-center">
                <span class="role">{{::role}}</span>
            </div>
        </div>

        <div class="dashboard-body">
            <h3 class="text-center">Your available products</h3>
            <div class="row">
                <div ng-repeat="item in menuItems" ng-if="!item.data.noDash" class="col col-50">
                    <a class="button button-full dashboard-button" ng-repeat="page in item.items" ui-sref="{{::page.data.state}}">
                        <div style="width: 100%" class="text-center"><i class="icon {{::page.data.icon}}"></i></div>
                        <div style="width: 100%" class="button-label text-center">{{::page.data.name}}</div>
                    </a>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>