<ion-view view-title="Dashboard" class="dashboard-view">
    <ion-header-bar align-title="center" class="se-header-bar bar-transparent">
        <div class="buttons">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </div>
    </ion-header-bar>

    <div class="custom-header flex-center">
        <div>
            <h3 class="text-center">Hello {{::username}}</h3>
            <div class="text-center">
                <span class="role">{{::role}}</span>
            </div>
        </div>
    </div>

    <ion-content class="has-header" style="background: transparent" scroll="false">

        <div class="custom-header-spacing"></div>

        <div class="dashboard">
            <ion-content>
                <div message-queue></div>
                <div class="row">
                    <div class="col text-center">
                        <h4>Your available products</h4>
                    </div>
                </div>
                <div class="row responsive-xs">
                    <div ng-repeat="item in menuItems" ng-if="!item.data.noDash" class="col col-50">
                        <a class="button button-full menu-item" ng-repeat="page in item.items" ui-sref="{{::page.data.state}}">
                            <div class="text-center"><i class="icon {{::page.data.icon}}"></i></div>
                            <div class="text-center button-label">{{::page.data.name}}</div>
                        </a>
                    </div>
                </div>
                <div class="row se-copyright">
                    <div class="col text-center">
                        &copy; {{::getCurrentYear()}} SpamExperts
                    </div>
                </div>
            </ion-content>
        </div>
    </ion-content>
</ion-view>