<ion-list class="popover" id="popover" no-lines>
    <ion-list-header color="dark" no-lines>Available actions</ion-list-header>
    <ion-item class="item" (click)="doAction('release')" *ngIf="this.permissionService.permissions.actions.release">Release</ion-item>
    <ion-item class="item" (click)="close()" *ngIf="this.permissionService.permissions.actions.whitelistAndRelease">Whitelist and release</ion-item>
    <ion-item class="item" (click)="doAction('release_and_train')" *ngIf="this.permissionService.permissions.actions.releaseAndTrain">Release and train</ion-item>
    <ion-item class="item divide" (click)="doAction('remove_from_quarantine')" *ngIf="this.permissionService.permissions.actions.remove">Remove</ion-item>
    <ion-item class="item" (click)="close()" *ngIf="this.permissionService.permissions.actions.blacklistAndRemove">Blacklist and remove</ion-item>
    <ion-item class="item divide" (click)="close()" *ngIf="this.permissionService.permissions.actions.purgeQuarantine && !this.incomingService.selectedItem && !this.outgoingService.selectedItem ">Purge Quarantine</ion-item>
</ion-list>
