<ion-header>
    <ion-navbar color="se-theme-color">
        <button menuToggle *ngIf="!selectedItem">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-row class="header-row">
            <div col-8>
                <span class="generic-title">Quarantined message</span> <br>
                <span *ngIf="this.permissionService.permissions.userType != 'email'" class="search-domain">{{selectedItem.domain}}</span>
                <span *ngIf="this.permissionService.permissions.userType=='email'" class="search-domain">{{this.outgoingService.username}}</span>
            </div>
            <div>
                <!--<span class="message-size">2.20 KiB </span>-->
                <span class="spam-icon">spam</span>
            </div>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="detail-row">
    <ion-row>
        <div col-9>
            <div class="span-group">
                <span class="header-name"> &nbsp;sent: </span> <span class="header-value"> {{incomingService.dateConvert(selectedItem.datetime)}}</span> <br>
            </div>
            <div class="span-group">
                <span class="header-name"> from: </span> <span class="header-value"> {{shorter(selectedItem.sender)}}</span> <br>
            </div>
            <div class="span-group">
                <span class="header-name">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to: </span> <span class="header-value"> {{selectedItem.recipient}}@{{selectedItem.domain}} </span> <br>
            </div>
        </div>
        <div col-3>
            <span class="time-span">{{incomingService.to12hours(selectedItem.datetime)}}</span>
        </div>
    </ion-row>
    </div>
    <br>
    <span class="subject-header" >{{selectedItem.subject_header}}</span>
    <br><br>
    <app-tabs></app-tabs>


</ion-content>

<ion-footer class="footer">
    <ion-toolbar color="metalic-gray" class="toolbar">
        <ion-row>
            <button col-4 (click)="doAction('release')">
                <ion-icon name="checkmark"></ion-icon>
                &nbsp;Release
            </button>
            <button col-4 (click)="doAction('remove_from_quarantine')">
                <ion-icon name="close"></ion-icon>
                &nbsp;Remove
            </button>
            <button col-4 (click)="openPopover($event)">
                <ion-icon  class="rotate" name="more"></ion-icon>
                &nbsp;&nbsp;More
            </button>
        </ion-row>
    </ion-toolbar>
</ion-footer>