@import "../../../theme/variables";
@import "../../definitions";

app-message-details {

    ion-content .scroll-content{
        overflow-y: hidden !important;
    }

    span {
        font-size : 10px;
    }

    .rotate {
        @include rotate(90deg);
    }

    button {
        background-color: $metallic-gray;
    }
}