@import "../../../theme/variables";
@import "../../definitions";

app-message-details {

    ion-content .scroll-content{
        overflow-y: hidden !important;
    }

    ion-content {
        background-color: $metallic-gray !important;
    }

    app-raw>ion-content>div.scroll-content {
        overflow-y: scroll !important;
    }

    app-raw>ion-content {
        background-color: white !important;
    }

    app-plain>ion-content {
        background-color: white !important;
    }

    app-normal>ion-content {
        background-color: white !important;
    }

    .tabs-ios .tab-button[aria-selected=true], .tabs-md .tab-button[aria-selected=true] {
        color: dimgray;
        background-color: #eceff2;
    }

    .detail-row {
        background-color: white !important;
        border-bottom: 1px solid $border-gray;
        height: 80px !important;
        padding-top: 5px;
        padding-left: 5px;
    }

    .rotate {
        @include rotate(90deg);
    }

    button {
        background-color: $metallic-gray;
        font-size: 16.5px;
    }

    .header-row {
        color : white;
    }

    .generic-title {
        font-size:13px;
        color: rgba(255, 255, 255, 0.7);
    }

    .search-domain {
        font-size: 16px;
    }

    .header-name {
        width: 35px;
        font-size: 12px;
        text-align: right;
        color: #9a9a9a;
    }

    .header-value {
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .spam-icon {
        font-size: 10px;
        color: white;
        border: 1px solid white;
        border-radius: 4px;
        padding: 1px 3px 1px 3px;
        position: absolute;
        margin-top: 16px;
        margin-left: 62px;
    }

    .message-size {
        margin-top: 18px !important;
        font-size: 12px;
        position: absolute;
        margin-left: 8px;
        white-space: nowrap;
    }

    .span-group {
        padding: 2px !important;
    }

    .subject-header {
        padding-left: 36px !important;
        font-size: 14px !important;
    }

    .time-span {
        margin-left: 16px;
        position: absolute;
        white-space: nowrap;
    }
}