<div class="list">

    <label class="item item-input item-floating-label" ion-datetime-picker ng-model="searchCriteria['since']">
        <span class="input-label has-input">From date</span>
        <div>{{searchCriteria['since']| date: dateFormat}}</div>
    </label>

    <label class="item item-input item-floating-label" ion-datetime-picker ng-model="searchCriteria['until']">
        <span class="input-label has-input">To date</span>
        <div>{{searchCriteria['until']| date: dateFormat}}</div>
    </label>

    <label class="item item-input item-floating-label" ng-repeat="field in criteriaFields">
        <span class="input-label">{{::field.label}}</span>
        <input type="{{::field.type}}" placeholder="{{::field.label}}" ng-model="searchCriteria[field.model]">
    </label>

    <button class="{{::action.cssClass}}" on-tap="{{::action.action}}" ng-repeat="action in criteriaActions">
        {{::action.label}}
    </button>
</div>