<ion-menu side="left" [content]="content" id="primaryMenu">
    <ion-header>
        <ion-toolbar>
            <button ion-button menuToggle="left" clear right> <ion-icon class="back-icon" name="ios-arrow-forward"></ion-icon></button>
        </ion-toolbar>
        <ion-toolbar class="userInfo" text-center>
            <ion-title class="username" text-center>
                <h3><strong>{{ this.permissionService.username }}</strong> </h3>
            </ion-title>
            <div text-center>
                <ion-label text-center id="role">
                    {{ this.permissionService.permissions.userRole.toUpperCase() }}
                </ion-label>
            </div>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-label id="leftMenuText"><strong>Your available products</strong></ion-label>
        <ion-list class="button-list">
            <ion-item class="list-item">
                <button class="filteringButtons" menuClose ion-button clear (click)="openPage('IncomingPage')" *ngIf="this.permissionService.permissions.messagesPages.incoming">
                    Incoming Filtering Quarantine
                    <ion-icon class='button-icon' name="ios-cloud-upload-outline"></ion-icon>
                </button>
            </ion-item>
            <!--<ion-item>-->
                <!--<button class="filteringButtons" menuClose ion-button clear (click)="openPage('OutgoingPage')" *ngIf="this.permissionService.permissions.messagesPages.outgoing">-->
                    <!--Outgoing Filtering Quarantine-->
                    <!--<ion-icon class='button-icon' name="ios-cloud-download-outline"></ion-icon>-->
                <!--</button>-->
            <!--</ion-item>-->
            <ion-item class="list-item">
                <button class="filteringButtons" menuClose ion-button clear (click)="openPage('OutgoingPage')" *ngIf="this.permissionService.permissions.messagesPages.outgoing">
                    Outgoing Filtering Quarantine
                    <ion-icon class='button-icon' name="ios-cloud-download-outline"></ion-icon>
                </button>
            </ion-item>
            <ion-item></ion-item>
        </ion-list>

        <button class="log-out-button" ion-button (click)="logout()" outline block>
            <ion-icon class="icon" name="ios-exit-outline" ></ion-icon>
            Logout
        </button>
        <ion-label text-center class="se-copyright">&copy; {{ this.incomingService.getCurrentYear() }} SpamExperts</ion-label>
    </ion-content>

</ion-menu>

<ion-menu side="right" [content]="content" id="searchMenu">
    <ion-header>
        <ion-toolbar>
            <button ion-button menuToggle="right"> <ion-icon name="ios-arrow-back"></ion-icon></button>
            <ion-title>Back to results</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <search-messages></search-messages>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>