<ion-menu side="left" [content]="content" id="primaryMenu">
    <ion-header>
        <ion-toolbar>
            <button ion-button menuToggle="left" clear right> <ion-icon name="arrow-forward"></ion-icon></button>
        </ion-toolbar>
        <ion-toolbar padding="20px">
            <ion-title class="userInfo" text-center>{{ this.storageService.getUsername() }}</ion-title>
            <ion-label class="userInfo" text-center id="role">{{ this.storageService.getUserRole() }}</ion-label>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item (click)="openPage('ListPage')" *ngIf="this.permissionService.messagesPages.incoming">Incoming Filtering Quarantine</button>
            <button menuClose ion-item (click)="openPage('HomePage')" *ngIf="this.permissionService.messagesPages.outgoing">Outgoing Filtering Quarantine</button>

            <button ion-button (click)="logout()" outline> Logout</button>
        </ion-list>

    </ion-content>

</ion-menu>

<ion-menu side="right" [content]="content" id="searchMenu">
    <ion-header>
        <ion-toolbar>
            <button ion-button menuToggle="right"> <ion-icon name="arrow-back"></ion-icon></button>
            <ion-title>Back to results</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <search-messages></search-messages>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>