<ion-view view-title="Sign-In">
    <ion-content class="padding">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Hostname" ng-model="data.hostname" autocapitalize="off">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username" autocapitalize="off">
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password">
            </label>
            <ion-toggle ng-model="data.remember" toggle-class="toggle-calm" ng-true-value="'enabled'" ng-false-value="'disabled'" ng-change="toggleRemember(data.remember)">
                Remember me
            </ion-toggle>
        </div>
        <button class="button button-block button-positive" on-tap="login(data)">Login</button>
    </ion-content>
</ion-view>
