page-list {

  span {
    font-size: 11px;
  }

  span.sender-span {
    font-size: 12.5px;
    color: grey;
  }

  .checkbox1 {
    font-size: 30px;
  }

  ion-footer.footer {
    font-size: 224px  !important;
  }

  .rotate {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  ion-navbar.toolbar-md, ion-navbar.toolbar {
    padding: 0px !important;
    [col-6] {
      padding-top: 0px !important;
    }
    .col1 {
      margin-top:-15px;
      position:absolute;
      .domain-span {
        margin-top: -5px !important;
        position: absolute;

      }
    }
    .date-span {
      margin-top: -15px;
      padding-left: 144px !important;
      position: absolute;
    }
  }

  .listitem {
    padding-left: 0px !important;
  }

  .label-md {
    margin: 0px !important;
  }

  [col-2] {
    padding-top: 8.5px !important;
  }

  [col-10] {
    padding-left: 10px !important;
  }

  ion-list {
    padding: 0px !important;
  }

  .scroll-content {
    padding: 0px !important;
  }

  ion-title {
    padding-left: 0px !important;
    div {
      padding: 0px !important;
    }
  }

  .domain-span {
    padding-top: 0px !important;
  }

  .card-content-md, .card-content-ios {
    background-color: antiquewhite;
    font-size: 1.2rem;
    //padding-top: 20px;
    //height: 57px !important;
    color: #8a6d3b;
    span.text {
      font-size: 14px;
      padding: 8px;
      margin-top: 14px !important;
      margin-left: 10px !important;
      position: absolute;
    }
  }

  button.card {
    color: grey;
    background-color: antiquewhite;
    padding-top: 0px;
    margin-top: -30px;
    margin-left: 315px;
    position: absolute;
  }

  .refresh-div {
    padding-top: 17px;
    height: 57px !important;
    text-align: center;
    border-top: 1px solid #d6d6da !important;
    border-bottom: 1px solid #d6d6da !important;
    span {
      position: relative;
      font-size: 15px;
    }
  }

  button {
    background-color: #F8F8F8;
  }

  .badge1{
    width: 10px;
  }
}