<ion-header>
    <ion-navbar class="navbar" color="se-theme-color">
        <ion-toolbar transparent>
            <button ion-button menuToggle="left" left> <ion-icon name="menu"></ion-icon></button>
        </ion-toolbar>
        <div padding="20px" class="userInfo">
            <ion-title class="userInfo" text-center>
                <h3>Hello {{ this.permissionService.username }} </h3>
            </ion-title>
            <div text-center>
                <ion-label class="userInfo" text-center id="role">
                    {{ this.permissionService.permissions.userRole.toUpperCase() }}
                </ion-label>
            </div>
        </div>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-label text-center class="text"> Your available products </ion-label>

    <ion-grid>
        <ion-row>
            <ion-col width-50>
                <div class="button" (click)="getIncomingMessages()" *ngIf="this.permissionsService.permissions.messagesPages.incoming" clear>
                    <div text-center><ion-icon class="button-icon" name="ios-cloud-upload-outline"></ion-icon></div>
                    <div text-center class="button-label">Incoming Filtering <br> Quarantine</div>
                </div>
            </ion-col>
            <ion-col width-50>
                <div class="button" (click)="getOutgoingMessages()" *ngIf="this.permissionsService.permissions.messagesPages.outgoing" clear>
                    <ion-icon text-center class="button-icon" name="ios-cloud-download-outline"></ion-icon>
                    <div text-center class="button-label">Outgoing Filtering <br> Quarantine</div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-label class="se-copyright" text-center>&copy; {{ this.incomingService.getCurrentYear() }} SpamExperts</ion-label>
</ion-content>
