<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="left" left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <button ion-button menuToggle="right" right>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button (click)="getIncomingMessages()" *ngIf="this.permissionsService.permissions.messagesPages.incoming"> Incoming </button>
  <button ion-button *ngIf="this.permissionsService.permissions.messagesPages.outgoing"> Outgoing </button>

</ion-content>