<ion-view view-title="{{::message['decoded_subject_header']}}">

    <ion-header-bar class="bar-assertive" align-title="center">

        <div class="buttons">
            <button class="button button-clear" on-tap="back()"><i class="icon ion-arrow-left-c"></i></button>
        </div>

        <div class="title">
            &nbsp;
        </div>

        <div class="buttons" ng-if="hasActions && message.details['msgBody']">
            <button class="button" ng-repeat="action in barActions" on-tap="processAction(action)">
                <i class="icon {{::action.icon}}"></i>
            </button>
            <button class="button" on-tap="processAction('', $event)">
                <i class="icon ion-more"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header">
        <div message-queue></div>

        <div class="list card">

            <div class="item item-avatar">
                <div class="icon-se icon-rejected">S</div>

                <h2>{{::message['decoded_subject_header']}}</h2>
                <p>{{::message['datestamp']}}</p>
                <p>{{::message['classification_details']}} - {{::message.status}}</p>
                <p>{{::message.details['meta_data'].size}}</p>

                <table border="0">
                    <tr><td style="padding: 0 5px;">From:</td><td>{{::message['sender']}}</td></tr>
                    <tr><td style="padding: 0 5px;">To:</td><td>{{::message['recipient']}}</td></tr>
                </table>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left" on-tap="toggleRaw()" ng-if="message.details['msgBody']">
                <div class="tab-item">
                    <i class="icon ion-android-mail"></i>
                  <span ng-if="!showRaw">
                      Show raw message
                  </span>
                  <span ng-if="showRaw">
                      Hide raw message
                  </span>
                </div>
            </div>

            <div class="item item-body" ng-if="message.details['msgBody'] && showRaw">
                <pre>{{::message.details['eml']}}</pre>
            </div>

            <div class="item item-body" ng-if="message.details['msgBody'] && !showRaw">
                {{::message.details['msgBody']}}
            </div>


            <div class="item item-body text-center" ng-if="!message.details">
                <ion-spinner></ion-spinner>
            </div>
        </div>
    </ion-content>
</ion-view>
