<ion-view>

    <ion-header-bar  class="bar-calm" ng-if="!bulkMode" align-title="center" on-tap="scrollTop()">
        <div class="buttons">
            <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        </div>
        <h1 class="title">Messages {{info.count}} / {{info.lastCount}}</h1>
        <div class="buttons">
            <button class="button button-icon icon ion-search" menu-toggle="right"></button>
        </div>
    </ion-header-bar>

    <ion-header-bar class="bar-assertive" ng-if="bulkMode" align-title="center">

        <div class="buttons">
            <button class="button button-clear" ng-if="info.count != selectedCount" on-tap="selectAll(true)">
                <i class="icon ion-ios-checkmark-outline"></i>
                {{selectedCount}}/{{info.count}}
            </button>
            <button class="button button-clear" ng-if="info.count == selectedCount" on-tap="selectAll(false)">
                <i class="icon ion-ios-circle-outline"></i>
                {{selectedCount}}/{{info.count}}
            </button>
        </div>

        <div class="title">&nbsp;</div>

        <div class="buttons">
            <button class="button" ng-repeat="action in barActions" on-tap="processAction(action)">
                <i class="icon {{::action.icon}}"></i>
            </button>
            <button class="button" on-tap="processAction('', $event)">
                <i class="icon ion-more"></i>
            </button>
        </div>
    </ion-header-bar>

    <ion-content class="has-header">
        <div message-queue></div>

        <ion-refresher pulling-text="Release me" on-refresh="pullToRefresh()"></ion-refresher>

        <ion-list>
            <ion-item class="text-center" ng-if="!loadingEntries && !messageEntries.length">
                No entries. Pull to refresh...
            </ion-item>
            <ion-item
                    class="item-avatar-left"
                    ng-class="{grayedout: message.isChecked}"
                    collection-repeat="message in messageEntries"
                    on-hold="selectEntry($index)"
                    on-tap="openMessage(message)"
            >
                <div se-checkbox></div>
                <h2>{{::message['decoded_subject_header']}}</h2>
                <p>{{::message['classification']}} - {{::message['classification_details']}}</p>
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                ng-if="!noMoreItemsAvailable"
                on-infinite="infiniteScroll()"
                distance="10%"
        >
        </ion-infinite-scroll>
    </ion-content>
</ion-view>