<ion-view>
    <ion-nav-title>
        Messages {{info.count}} / {{info.lastCount}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-search" menu-toggle="right">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div message-queue></div>

        <ion-list ng-if="messageEntries.length">
            <ion-item class="item-avatar-left" ng-repeat="message in messageEntries track by $index" on-hold="selectEntry($index)" on-tap="openMessage(message)" ng-class="{grayedout: message.isChecked}">
                <div se-checkbox></div>
                <h2>{{message['decoded_subject_header']}}</h2>
                <p>{{message['classification']}} - {{message['classification_details']}}</p>
            </ion-item>
        </ion-list>

        <ion-list ng-if="!loadingEntries && !messageEntries.length">
            <ion-item class="text-center">
                No entries. Pull to refresh...
            </ion-item>
        </ion-list>

        <ion-refresher pulling-text="Release me" on-refresh="doRefresh()"></ion-refresher>
        <ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMoreData()" distance="1%"></ion-infinite-scroll>

        <div ng-if="bulkMode" class="se-spacer"></div>
    </ion-content>

    <ion-footer-bar class="bar-assertive" ng-if="bulkMode" align-title="center">
        <div class="buttons">
            <button class="button" ng-repeat="action in barActions" on-tap="processAction(action)">
                <i class="icon {{action.icon}}"></i>
                {{action.text}}
            </button>
            <button ng-if="!barActions.length" class="button button-clear">&nbsp;</button>
        </div>

        <div class="title" on-tap="processAction()"><i class="icon ion-grid"></i></div>

        <div class="buttons">
            <button class="button" ng-if="info.count != selectedCount" on-tap="selectAll(true)">
                <i class="icon ion-ios-checkmark-outline"></i>
                {{selectedCount}}/{{info.count}}
            </button>
            <button class="button" ng-if="info.count == selectedCount" on-tap="selectAll(false)">
                <i class="icon ion-ios-circle-outline"></i>
                {{selectedCount}}/{{info.count}}
            </button>
        </div>
    </ion-footer-bar>
</ion-view>