<ion-view>
    <ion-nav-title>
        Messages {{info.count}} / {{info.lastCount}}
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="button button-icon icon ion-search" menu-toggle="right">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-list ng-if="messageEntries.length">

            <ion-item class="item-remove-animate item-avatar item-icon-right"
                      ng-repeat="message in messageEntries track by $index"
                      on-hold="selectEntry($index)"
                      on-tap="openMessage(message)"
                      on-swipe-right = "$event.stopPropagation()"
            >

                <div se-checkbox></div>

                <h2 ng-class="{grayedout: message.isChecked}">{{message['decoded_subject_header']}}</h2>

            </ion-item>
        </ion-list>
        <ion-list ng-if="!loadingEntries && !messageEntries.length">
            <ion-item class="text-center">
                No entries
            </ion-item>
        </ion-list>

        <ion-infinite-scroll
                ng-if="!noMoreItemsAvailable"
                on-infinite="loadMoreData()"
                distance="1%">
        </ion-infinite-scroll>

        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()">
        </ion-refresher>

        <div ng-if="bulkMode" class="se-spacer"></div>
    </ion-content>

    <ion-footer-bar class="bar-assertive" ng-if="bulkMode">
        <div class="buttons">
            <button class="button" ng-repeat="action in barActions" on-tap="processAction(action)">
                <i class="icon {{action.icon}}"></i>
                {{action.text}}
            </button>
            <button ng-if="!barActions.length" class="button button-clear">&nbsp;</button>
        </div>

        <div class="title" on-tap="processAction()"><i class="icon ion-grid"></i></div>

        <div class="buttons">
            <button class="button">Selected: {{selectedCount}}/{{info.count}}</button>
            <button class="button" ng-if="info.count != selectedCount" on-tap="selectAll(true)">
                <i class="icon ion-ios-checkmark-outline"></i>
                Select all
            </button>
            <button class="button button-clear" ng-if="info.count == selectedCount" on-tap="selectAll(false)">
                <i class="ion-ios-circle-outline"></i>
                Deselect all
            </button>
        </div>
    </ion-footer-bar>
</ion-view>