// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source styles files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
    primary:    #488aff,
    secondary:  #32db64,
    danger:     #f53d3d,
    light:      #f4f4f4,
    dark:       #222,
    se-theme-color: #39B0DA,
    metallic-gray: #F8F8F8,
    dark-gray: #404040
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
//

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
//
@import "roboto";
@import "noto-sans";

// popover page
$popover-md-width: 215px !important;
$popover-ios-width: 215px !important;
$popover-wp-width: 215px !important;

$toolbar-md-height: 56px !important;
$toolbar-ios-height: 56px !important;


// login page
$checkbox-md-icon-size: 30px !important;
$checkbox-md-border-bottom-style: none !important;
$checkbox-md-border-bottom-color: #fff4fb;
$checkbox-md-icon-border-style: none;
$checkbox-md-icon-background-color-off: #F8F8F8;
$checkbox-md-icon-background-color-on: #404040;
$checkbox-md-item-start-margin-end: 10px;
$checkbox-md-icon-checkmark-width: 2px;
//$checkbox-md-border-bottom-color: red !important;



$button-md-height: 4.5rem !important;
$button-md-text-transform: capitalize !important;

// list page

$badge-ios-background-color: #F8F8F8;
$badge-md-background-color: #F8F8F8;

$tabs-ios-tab-min-height: 45px;
$tabs-md-tab-min-height: 45px;