<div class="flip-container" ng-class="{selected: message.isChecked}" ng-click="selectEntry($index)">
    <div class="flipper">
        <div class="front">
            <md-button class="md-fab md-warn" aria-label="FAB" md-no-ink>
                <div class="rotate-90">
                    <md-icon md-svg-set="material-icons"> polymer </md-icon>
                </div>
            </md-button>
        </div>
        <div class="back">
            <md-button class="md-fab md-default-theme" md-no-ink>
                <md-icon md-svg-set="material-icons"> done </md-icon>
            </md-button>
        </div>
    </div>
</div>