$scrollPadding: 20px;
$metallic-gray: #F8F8F8;

$detailTabsHeight: 105px;
$detailHeadersHeight: 81px;


$headerBarHeight: 55px;
$footerBarHeight: 55px;
$dashboardHeader: 100px;

.log-out .icon:before {
    font-size: 32px;
    line-height: 38px;
}

.top-date {
    font-size: 11px !important;
    line-height: 36px !important;
}

.main-class {
    padding: 2px 3px;
    border-radius: 3px;
}

.selected-count {
    display: inline !important;
    padding: 4px 6px 2px;
    border-radius: 3px;
    font-size: 12px;
}

@mixin scale($h, $v) {
    transform: scale($h,$v); /* W3C */
    -webkit-transform: scale($h,$v); /* Safari and Chrome */
    -moz-transform: scale($h,$v); /* Firefox */
    -ms-transform: scale($h,$v); /* IE 9 */
    -o-transform: scale($h,$v); /* Opera */
}

.higher-text {
    @include scale(1, 1.2);
}

.icon.icon-rotate-90:before {
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* Customize loading */

.loading {
    background: rgba(57,176,218,0.7)!important;
}

.se-loading .spinner svg {
    width: 48px;
    height: 48px;
    stroke: #fff;
    fill: #fff;
}

/* Alerts */

.alert {
    padding: 15px;
    border: 1px solid transparent;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* dashboard style */

.dashboard-item {
    width: 100%;
    text-align: left;
}

.dashboard-title {
    font-size: 150%;
    line-height: 200%;
    margin-left: 15px;
}

.dashboard-item-name {
    font-size: 110%;
    line-height: 150%;
}

/* Utility */

.se-background-color {
    background: #39B0DA;
    color: #ffffff;
}

.grayedout {
    background: #f5f5f5;
}

.se-spacer {
    height: 32px;
    line-height: 32px;
    padding: 5px;
}

.se-spacer-2x {
    height: 64px;
    line-height: 64px;
    padding: 5px;
}

.se-spacer-3x {
    height: 96px;
    line-height: 96px;
    padding: 5px;
}

.popup-container .popup {
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.95);
}

.popover {
    height: auto !important;
}
.popover ion-header-bar {
    position: relative;
}
.popover ion-content {
    top: 0;
    position: relative;
}

.popover .item {
    padding-top: 8px;
    padding-bottom: 8px;
}

.popover .item.item-dark {
    border-color: #111;
    background-color: #444;
    color: #fff;
}

.popover .item-action {
    background: #fff !important;
}

.popover-bottom {
    margin-top: -12px !important;
}

.popover-arrow {
    top: initial !important;
}

.popover-arrow:after {
    top: -10px !important;
    box-shadow: 0 2px 6px rgba(0,0,0,.35);
}

.se-bar-actions .button {
    margin-left: 5px;
}

.se-action-divider {
    border-top-color: #ddd !important;
}

.se-menu-entry.active > .item-content {
    background: #f5f5f5 !important;
}

.se-no-top-border {
    border-top: none;
    margin-top: 1px;
}

.popup-container.troubleshooting .popup-head {
    display: none !important;
}

.popup-container.troubleshooting .popup-body {
    padding: 0;
}

.help-header {
    padding: 5px 5px;
    background: #39B0DA;
    color: #ffffff;
    font-size: 20px;
}

.no-rtl-border {
    border-top: none;
    border-right: none;
    border-left: none;
}

.no-border {
    border: none;
}

.se-bold {
    font-weight: bold !important;
}

.se-no-underline {
    text-decoration: none !important;
}

.se-float-left {
    float: left !important;
}

.se-float-right {
    float: right !important;
}

.help-header div {
    margin: 10px;
}

.group-text {
    font-size: 13px;
    text-overflow: initial;
    white-space: initial;
}

.group-text.active {
    background: #f5f7f9;
}

.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}

.se-background {
    background: #39B0DA url('../../img/background.png') no-repeat 0 0;
    background-size: contain;
}

.bar-transparent {
    background: transparent !important;
}

.bar-transparent * {
    color: #ffffff;
}

.has-header {
    top: $headerBarHeight;
}

.has-footer {
    bottom: $footerBarHeight;
}

.se-header-bar {
    height: $headerBarHeight;
    background-color: #39B0DA;
    border: 0;
    color: #fff;
}

.se-header-bar-stable {
    height: $headerBarHeight;
    background-color: $metallic-gray;
    border: 0;
    color: #fff;
}

/* Dashboard */
.dashboard-header {
    height: $dashboardHeader;
}

.dashboard-header * {
    color: #fff;
}

.dashboard-header .role {
    display: inline-block;
    border: 1px #fff solid;
    border-radius: 2px;
    padding: 4px 6px 2px;
    text-transform: uppercase;
}

.dashboard-body {
    background: #ffffff;
    height: 100%;
    padding-top: 20px;
}

.dashboard-button {
    background: #ffffff;
}

.dashboard-button i {
    display: block;
    padding: 50px 0 30px;
}

.dashboard-button i.icon:before{
    color: #39B0DA;
    font-size: 100px !important;
}

.dashboard-button .button-label {
    line-height: 25px;
}

.left-menu .se-menu-entry i.icon:before {
    color: #0a9dc7;
}

.metallic-border {
    border: 1px #bfbfbf solid !important;
}

.left-menu-header {
    height: $headerBarHeight + $dashboardHeader;
    background: #eee;
    padding: 50px;
}

.left-menu-header .role {
    display: inline-block;
    border: 1px #bfbfbf solid;
    border-radius: 2px;
    padding: 4px 6px 2px;
    text-transform: uppercase;
}

.se-message {
    padding: 0;
}

.se-message label {
    padding: 16px;
    background: transparent;
}

.se-message label.checkbox-square {
    padding: 0;
}

.se-message label.checkbox-square > .checkbox {
    padding: 0;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}

.se-message .col-85 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 85%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 85%;
    -ms-flex: 0 0 85%;
    flex: 0 0 85%;
    max-width: 85%;

    padding-right: 0;
    text-overflow: ellipsis;
}

.se-message .col-10 {
    padding-left: 0;
}

.se-message .message-title {
    font-size: 12px;
    font-weight: 500;
    padding: 0;
}

.se-message .content {
    margin-top: 10px;
}

.se-message .checkbox.checkbox-input-hidden {
    padding: 0;
    /*margin-top: -27px;*/
}

.se-message i.checkbox-icon {
    width: 42px;
    height: 42px;
}

.se-message i.checkbox-icon:before {
    border-color: #eee;
    background: #eee;
}

.se-message i.checkbox-icon:after {
    width: 14px;
    height: 7px;
    left: 36%;
}

.grayedout-text {
    color: #9a9a9a;
}

.padding-none {
    padding: 0;
}

.message-classification {
    border: 1px #c5c5c5 solid;
    border-radius: 3px;
    padding: 2px 4px;
}

.se-footer-bar {
    height: $footerBarHeight;
}

.se-footer-bar i:before {
    font-size: 15px !important;
    line-height: 30px !important;
}

.se-footer-bar .bar-actions .button {
    margin: 0 15px;
}

.se-header-bar * {
    color: #fff;
}

.se-header-bar .title {
    left: 50px !important;
    right: 50px !important;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    line-height: normal !important;
}

.se-header-bar .title * {
    font-size: 12px;
    padding: 0;
}

.header-name, .header-value {
    font-size: 12px;
}

.header-name {
    text-align: right;
    color: #9a9a9a;
}

.header-value {
    text-overflow: ellipsis;
}

.message-detail-time {
    font-size: 12px;
    font-weight: 500;
    padding: 0;
}


.message-detail-headers {
    padding: 10px 0;
    background: #ffffff;
    border-bottom: 1px #9a9a9a solid;
    height: $detailHeadersHeight;
}

.message-detail-body {
    position: absolute;

    top: 1 + $detailHeadersHeight;
    bottom: $footerBarHeight;
    padding: $scrollPadding;
    background: $metallic-gray;

    width: 100%;
}

.message-scroll-container {
    position: absolute;
    top: $detailTabsHeight;
    bottom: 0;
    left: $scrollPadding;
    right: $scrollPadding;
}

.message-scroll-container ion-scroll {
    position: absolute;
    height: 100%;
    background: #ffffff;
    padding: 20px;
}

.detail-tabs {
    height: $detailTabsHeight;
}

.datetime-input {
    margin: 0 5px;
}
.datetime-input .time {
    font-size: 80%
}