app-tabs {
    ion-tabs {
        a {
            height: 30px !important;

            .tab-button-text {
                font-size: 1.3rem !important;
                color: black !important;
            }
        }
    }
}