<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{message.decoded_subject_header}}">
  <ion-content class="padding">


      <div class="row responsive-sm" ng-if="!message.details">
          <div class="col col-offset-50">
              <ion-spinner></ion-spinner>
          </div>
      </div>

      <div class="list card" ng-if="message.details">

          <div class="item item-avatar">
              <div ng-switch on="message.classification">
                  <div class="icon-se icon-accepted" ng-switch-when="Accepted">A</div>
                  <div class="icon-se icon-rejected" ng-switch-when="Rejected">R</div>
                  <div class="icon-se icon-unknown"  ng-switch-default>U</div>
              </div>
              <h2>{{message.decoded_subject_header}}</h2>
              <p>{{message.datestamp}}</p>
              <p>{{message.classification_details}} - {{message.status}}</p>
              <p>{{message.details.meta_data.size}}</p>

              <table border="0">
              <tr><td style="padding: 0px 5px;">From:</td><td>{{message.sender}}</td></tr>
              <tr><td style="padding: 0px 5px;">To:</td><td>{{message.recipient}}</td></tr>
          </table>
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" ng-click="toggleRaw()" ng-if="message.status=='quarantined' && message.classification=='Rejected'">
              <a class="tab-item" href="#">
                  <i class="icon ion-android-mail"></i>
                  <span ng-if="!showRaw">
                      Show raw message
                  </span>
                  <span ng-if="showRaw">
                      Show message
                  </span>
              </a>
          </div>

          <div class="item item-body" ng-show="showRaw">
              <pre>{{message.details.eml}}</pre>
          </div>

          <div class="item item-body" ng-show="!showRaw">
                  {{message.details.msgBody}}
          </div>

          <div class="item tabs tabs-secondary tabs-icon-left" ng-if="message.status=='quarantined'">
              <a class="tab-item" href="#" ng-click="bulkAction('remove', [message])">
                  <i class="icon ion-trash-a"></i>
                  Delete
              </a>
              <a class="tab-item" href="#" ng-click="bulkAction('release', [message])">
                  <i class="icon ion-ios-checkmark-outline"></i>
                  Release
              </a>
              <a class="tab-item" href="#" ng-click="bulkAction('releaseandtrain', [message])">
                  <i class="icon ion-share"></i>
                  Release and train
              </a>
          </div>

      </div>
  </ion-content>
</ion-view>
