<ion-view class="search-menu-view">
    <ion-header-bar>
        <div class="buttons">
            <button class="button button-icon icon ion-ios-arrow-left" menu-toggle="right"></button>
        </div>
        <div class="title">Back to results</div>
    </ion-header-bar>
    <ion-content class="has-header">

        <h4>Search messages</h4>
        <div class="row">
            <div class="col">
                <div class="list">
                    <label class="item item-input item-floating-label no-rtl-border" ng-repeat="field in criteriaFields">
                        <span class="input-label">{{::field.label}}</span>
                        <span ng-class="{'required': field.required}">
                            <input type="{{::field.type}}" placeholder="{{::field.label}}" ng-model="searchCriteria[field.model]" autocapitalize="off">
                        </span>
                    </label>

                    <label class="item item-input item-floating-label no-border datetime-buttons">
                        <span class="input-label has-input">Sent</span>
                        <div class="row">
                            <button class="button button-block button-light metallic-border"
                                    ng-class="{active: selectedInterval == 'past24Hours'}"
                                    on-tap="past24Hours()"
                            >
                                Past 24H
                            </button>

                            <button class="button button-block button-light metallic-border"
                                    ng-class="{active: selectedInterval == 'pastWeek'}"
                                    on-tap="pastWeek()"
                            >
                                Past Week
                            </button>

                            <button class="button button-block button-light metallic-border"
                                    ng-class="{active: selectedInterval == 'pastMonth'}"
                                    on-tap="pastMonth()"
                            >
                                Past Month
                            </button>
                        </div>
                    </label>

                    <label class="item item-input item-floating-label no-border">
                        <span class="input-label has-input se-normal">Custom timeframe</span>
                        <div class="row">
                            <div class="col-50">
                                <label class="item item-input item-floating-label no-rtl-border datetime-input"
                                       ion-datetime-picker
                                       only-valid="validDateInterval"
                                       ng-model="searchCriteria['since']"
                                       ng-change="removeSelectedInterval()"
                                >
                                    <span class="input-label has-input">From date</span>
                                    <div class="time">{{searchCriteria['since']| date: dateFormat}}</div>
                                </label>
                            </div>
                            <div class="col-50">
                                <label class="item item-input item-floating-label no-rtl-border datetime-input"
                                       ion-datetime-picker
                                       only-valid="validDateInterval"
                                       ng-model="searchCriteria['until']"
                                       ng-change="removeSelectedInterval()"
                                >
                                    <span class="input-label has-input">To date</span>
                                    <div class="time">{{searchCriteria['until']| date: dateFormat}}</div>
                                </label>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
        </div>

        <div class="row actions">
            <div class="col">
                <button class="{{::action.cssClass}}" on-tap="{{::action.action}}" ng-repeat="action in criteriaActions">
                    {{::action.label}}
                </button>
            </div>
        </div>
        <div class="required-text" ng-if="isSuperAdmin()">
            Fields marked with * are required
        </div>
    </ion-content>
</ion-view>
