<ion-view view-title="Dashboard">
    <ion-content>
        <h3 class="title text-center">Welcome {{username}}!</h3>

        <div  ng-repeat="item in menuItems">
            <div class="card" ng-if="!item.noDash">
                <div class="item item-divider">
                    <div class="row">
                        <div class="col-20">
                            <div class="icon-se icon-unknown">
                                <i class="icon {{item.icon}}"></i>
                            </div>
                        </div>
                        <div class="col-80">
                            <h2>{{item.name}}</h2>
                        </div>
                    </div>
                </div>
                <div class="item item-text-wrap" ng-repeat="page in item.items" ui-sref="{{page.state}}">
                    <i class="icon {{page.icon}}"></i>
                    {{page.name}}
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>