<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      This could be your Dashboard.
      <br><br><br>
      <button class="button button-full button-positive" on-tap="performValidRequest()">
        Make Valid Request
      </button>
      <button class="button button-full button-energized" on-tap="performUnauthorizedRequest()">
        Make Request for unauthorized resource
      </button>
      <button class="button button-full button-assertive" on-tap="performInvalidRequest()">
        Make Request without valid token
      </button>

      <button class="button icon-left ion-log-out button-stable" on-tap="logout()">Logout</button>

      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>
