ion-content{
  .text-center {
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 40px;

  }

  .se-icon {
    width: 60px;
  }

  ion-list {
    margin-bottom: 20px;
  }

  .list-item {
    padding-left: 0;
  }

  .rememberMe {
    padding: 0 0 40px 0;


    .keepMeText {
      color: #404040;

    }

    .remember-me-checkbox {
      padding-right: 0;
    }

  }

}

