@import "definitions";

.login-view {
    .se-icon {
        width: 60px;
    }

    .item-floating-label {
        padding-left: 0;
    }

    .help-button {
        padding: 0;
        border-radius: 50%;
        top: 33px !important;
        right: 2px!important;

        i.icon {
            margin: 0 auto;

            &:before {
                font-size: 16px;
            }
        }
    }

    .remember-me-checkbox {
        padding-left: 40px;

        .checkbox.checkbox-input-hidden {
            padding: 0;
        }

        .checkbox-icon {
            width: 42px;
            height: 42px;
            margin-left: -13px;

            &:before {
                border-color: #eee;
                background: #eee;
            }

            &:after {
                width: 14px;
                height: 7px;
                left: 36%;
            }
        }
    }
}

.troubleshooting {

    .popup-head {
        display: none !important;
    }

    .popup-body {
        padding: 0;
    }

    .help-header {
        padding: 5px 5px;
        background: #39B0DA;
        color: #ffffff;
        font-size: 20px;
        height: 50px;

        div {
            margin: 10px 5px;
        }
    }

    .group-text {
        font-size: 13px;
        text-overflow: initial;
        white-space: initial;

        &.active {
            background: $metallic-gray;
        }
    }

    .list .item.item-accordion {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;

        .ng-hide {
            line-height: 0;
        }

        .ng-hide-add,
        .ng-hide-remove {
            display: block !important;
        }
    }

}

