@import "definitions";

.higher-text {
    @include scale(1, 1.2);
}

.flex-center {
    height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Customize loading */

.loading {
    background: rgba(57,176,218,0.7)!important;
}

.se-loading .spinner svg {
    width: 48px;
    height: 48px;
    stroke: #fff;
    fill: #fff;
}

/* Alerts */

.alert {
    padding: 15px;
    border: 1px solid transparent;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-notice {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

/* Utility */

.color-theme {
    color: $se-theme-color !important;
}

.border-theme {
    border-color: $se-theme-color !important;
}

.se-background-color {
    background: $se-theme-color;
    color: #ffffff;
}

.grayedout {
    background: #f5f5f5;
}

.se-spacer {
    height: 32px;
    line-height: 32px;
    padding: 5px;
}

.se-spacer-2x {
    height: 64px;
    line-height: 64px;
    padding: 5px;
}

.se-spacer-3x {
    height: 96px;
    line-height: 96px;
    padding: 5px;
}

.no-rtl-border {
    border-top: none;
    border-right: none;
    border-left: none;
}

.no-border {
    border: none;
}

.se-normal {
    font-weight: normal !important;
}

.se-bold {
    font-weight: bold !important;
}

.se-no-underline {
    text-decoration: none !important;
}

.se-float-left {
    float: left !important;
}

.se-float-right {
    float: right !important;
}

.bar-transparent {
    background: transparent !important;
}

.bar-transparent * {
    color: #ffffff;
}

.has-header {
    top: $bar-header-height;
}

.has-footer {
    bottom: $footerBarHeight;
}

.se-header-bar {
    height: $bar-header-height;
    background-color: #39B0DA;
    border: 0;
    color: #fff;
}

.se-header-bar-stable {
    height: $bar-header-height;
    background-color: $metallic-gray;
    border: 0;
    color: #fff;
}

.metallic-border {
    border: 1px #bfbfbf solid !important;
}

.grayedout-text {
    color: #9a9a9a;
}

.padding-none {
    padding: 0;
}

.se-footer-bar {
    height: $footerBarHeight;

    .row {
        .col {
            text-align: center;
        }

        .col:first-child {
            text-align: left;
        }

        .col:last-child {
            text-align: right;
        }
    }
}

.se-footer-bar i:before {
    font-size: 15px !important;
    line-height: 30px !important;
}

.se-footer-bar .bar-actions .button {
    margin: 0 15px;
}

.se-header-bar * {
    color: #fff;
}

.se-header-bar .title {
    left: 50px !important;
    right: 50px !important;
    height: 50px;
    margin: 0;
    padding: 10px 0;
    line-height: normal !important;
}

.se-header-bar .title * {
    font-size: 12px;
    padding: 0;
}

.se-bar-actions .button {
    margin-left: 5px;
}

.tooltip-list.popover {
    width: auto;
    max-width: 250px;

    height: auto !important;
    margin-top: 10px !important;

    ion-header-bar {
        position: relative;
    }

    ion-content {
        top: 0;
        position: relative;

        .item {
            padding: 5px 10px;
            text-align: right;
            font-size: 12px;

            &:first-child {
                padding-top: 10px;
            }

            &:last-child {
                padding-bottom: 10px;
            }
        }
    }

    .popover-arrow {

        &:after {
            background-color: $metallic-gray;
            box-shadow: 0 2px 6px rgba(0,0,0,.35);
        }
    }
}


//dropdown menu
.dropdown-actions.popover {
    height: auto !important;
    margin-top: -12px !important;

    ion-header-bar {
        position: relative;
    }

    ion-content {
        top: 0;
        position: relative;
    }

    .item {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .item.item-dark {
        border-color: #111;
        background-color: #444;
        color: #fff;
    }

    .item-action {
        background: #fff !important;
    }

    .popover-arrow {
        top: initial !important;

        &:after {
            top: -10px !important;
            box-shadow: 0 2px 6px rgba(0,0,0,.35);
        }
    }

    .se-action-divider {
        border-top-color: #ddd !important;
    }
}


