@import "definitions";

.dashboard-view {
    background: $se-theme-color url('../../img/background.png');
    background-size: contain;

    ion-content {
        padding-top: 0;
    }

    .custom-header {
        width: 100%;
        height: $custom-header-height;
        min-height: $custom-header-min-height;
        max-height: $custom-header-max-height;

        * {
            color: #ffffff;
        }

        .role {
            display: inline-block;
            border-radius: 2px;
            padding: 4px 6px 2px;
            margin-top: 5px;
            border: 1px #ffffff solid;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
        }
    }

    .custom-header-spacing {
        width: 100%;
        height: $custom-header-spacer-height;
        min-height: $custom-header-spacer-min-height;
        max-height: $custom-header-spacer-max-height;
    }

    .has-header {
        top: $bar-header-height;
        background: #ffffff;
    }

    .dashboard {
        position: relative;
        width: 100%;
        height: 100%;
        background: #ffffff;

        ion-content > .scroll {
            min-height: 512px;
        }
    }

     .menu-item {
        background: #ffffff;

        i.icon {
            display: block;
            padding: 50px 0 30px;

            &:before{
                color: $se-theme-color;
                font-size: 80px !important;
            }
        }

        .button-label {
            line-height: 25px;
            font-size: 15px;
        }
    }

    .se-copyright {
        font-size: 13px;
    }

    @include stick-to-bottom('.se-copyright', ($custom-header-spacer-max-height + 5px), 540px, $grid-responsive-xs-break);

}
