
$scrollPadding: 20px;
$metallic-gray: #F8F8F8;

$detailTabsHeight: 105px;
$detailHeadersHeight: 81px;

$headerBarHeight: 55px;
$footerBarHeight: 55px;
$dashboardHeader: 100px;

@mixin scale($h, $v) {
  transform: scale($h,$v); /* W3C */
  -webkit-transform: scale($h,$v); /* Safari and Chrome */
  -moz-transform: scale($h,$v); /* Firefox */
  -ms-transform: scale($h,$v); /* IE 9 */
  -o-transform: scale($h,$v); /* Opera */
}