@import "definitions";

.left-menu-view {
    height: 100%;
    border-right: 1px $metallic-gray solid;
    background: $metallic-gray;

    ion-content {
        padding-top: 0;
    }

    h4 {
        font-size: 17px;
        color: #444444;
    }

    .bar-header {
        .button:before {
            color: #b0b0b0;
        }
    }

    .custom-header {
        width: 100%;
        height: $custom-header-height;
        min-height: $custom-header-min-height;
        max-height: $custom-header-max-height;

        * {
            color: #444444;
        }

        .role {
            display: inline-block;
            border-radius: 2px;
            padding: 4px 6px 2px;
            margin-top: 5px;
            border: 1px #b0b0b0 solid;
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
        }
    }

    .custom-header-spacing {
        width: 100%;
        height: $custom-header-spacer-height;
        min-height: $custom-header-spacer-min-height;
        max-height: $custom-header-spacer-max-height;
    }

    @include landscape {
        .custom-header {
            height: $custom-header-height-landscape;
            min-height: $custom-header-min-height-landscape;
            max-height: $custom-header-max-height-landscape;
        }

        .custom-header-spacing {
            height: $custom-header-spacer-height-landscape;
            min-height: $custom-header-spacer-min-height-landscape;
            max-height: $custom-header-spacer-max-height-landscape;
        }
    }

    .has-header {
        top: $bar-header-height;
        background: #ffffff;
    }

    .menu {
        position: relative;
        width: 100%;
        height: 100%;
        background: #ffffff;

        ion-content > .scroll {
            min-height: 512px;
        }
    }

    .menu-item {
        border: none;
        margin-top: 1px;
        font-size: 15px;
        border: 0;
        padding-left: 5px;
        padding-right: 5px;

        a.item-content {
            padding-left: 0;
            padding-right: 40px;
            border-bottom: 1px #bfbfbf solid;

            i.icon:before {
                right: 5px;
                color: $se-theme-color;
            }
        }
    }

    .menu-item.active {
        background: $metallic-gray;
        border-radius: 5px;

        a.item-content {
            background: transparent;
        }
    }

    @include stick-to-bottom('.log-out-box', ($custom-header-spacer-max-height + 35px), 540px);
    .log-out-button {
        .icon:before {
            font-size: 32px;
            line-height: 38px;
        }
    }

    @include stick-to-bottom('.se-copyright', ($custom-header-spacer-max-height), 540px);

    .se-copyright {
        font-size: 13px;
    }
}
