@import "definitions";

.messages-list-view {

    .se-message {
        padding: 0;

        label {
            padding: 16px;
            background: transparent;
        }

        .message-title {
            font-size: 12px;
            font-weight: 500;
            padding: 0;
            margin-right: 3px;
        }

        .content {
            margin-top: 10px;
        }

        .checkbox.checkbox-input-hidden {
            padding: 0;
            left: auto;
            right: 0;
        }

        .checkbox-dark input:checked+.checkbox-icon:before,
        .checkbox-dark input:checked:before {
            background: #444;
            border-color: #444;
        }

        .checkbox-dark .checkbox-icon {
            width: 42px;
            height: 42px;

            &:before {
                border-color: #eee;
                background: #eee;
            }

            &:after {
                width: 14px;
                height: 7px;
                left: 36%;
            }
        }

        .main-class {
            padding: 2px 3px;
            border-radius: 3px;
        }
    }

    .top-date {
        font-size: 11px !important;
        line-height: 36px !important;
    }

    .selected-count {
        display: inline !important;
        padding: 4px 6px 2px;
        border-radius: 3px;
        font-size: 12px;
    }

    .col-10 {
        padding-left: 0;
    }

    .col-85 {
        padding-right: 0;
        text-overflow: ellipsis;
    }

}
