@import "definitions";

.message-detail-view {
    .se-header-bar {
        .title {
            top: 4px;
            right: 10px!important;

            .main-class {
                margin-left: 5px;
                border: 1px #54bff1 solid;
                padding: 2px 5px;
                border-radius: 3px;
            }

            .generic-title {
                color: rgba(255, 255, 255, 0.7);
            }

            .search-domain {
                font-size: 16px;
            }
        }
    }

    ion-content {
        & > .scroll {
            height: 100%;
        }

        .message-contents {
            position: absolute;
            width: 100%;
            height: 100%;

            .headers {
                padding: 10px;
                background: #ffffff;
                border-bottom: 1px #d9dce0 solid;
                height: $detailHeadersHeight;

                table {
                    table-layout: fixed;
                    width: 100%;

                    .header-name {
                        width: 35px;
                        font-size: 12px;
                        text-align: right;
                        color: #9a9a9a;
                    }

                    .header-value {
                        font-size: 12px;

                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .time {
                        text-align: right;
                        width: 100px;
                        min-width: 100px;
                    }

                    .recipients {
                        vertical-align: bottom;

                        button {
                            margin: 0 0 0 auto;
                            padding: 0 3px;
                            width: 85px;
                            max-width: 85px;
                            min-height: 10px;
                            height: 28px;
                            line-height: 28px;
                            font-size: 12px;

                            i.ion-android-arrow-dropdown:before {
                                font-size: 14px;
                                line-height: 28px
                            }
                        }
                    }
                }
            }

            .body {
                position: absolute;
                top: 1 + $detailHeadersHeight;
                bottom: 0;
                padding: 0 $scrollPadding $scrollPadding;
                background: $metallic-gray;
                width: 100%;

                .subject {
                    text-align: left;
                    max-height: 42px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .attachments button {
                    padding: 0 3px;
                    min-height: 10px;
                    height: 28px;
                    line-height: 28px;
                    font-size: 12px;

                    i.ion-paperclip:before {
                        font-size: 22px;
                        line-height: 27px;
                        @include rotate(30deg);
                    }
                }

                .detail-tabs {
                    position: absolute;
                    top: $detailHeadersHeight - 29px;

                    left: $scrollPadding;
                    right: $scrollPadding;
                    height: $detailTabsHeight;

                    .tabs {
                        position: relative;
                        background: transparent;
                        height: $detailTabsHeight;
                        max-height: $detailTabsHeight;

                        .tab-item {
                            height: $detailTabsHeight;
                            max-height: $detailTabsHeight;
                            line-height: $detailTabsHeight + 2;
                            color: #444444;
                            width: 100%;
                            max-width: 50%;
                        }

                        .tab-item.active {
                            background: #eceff2;
                        }
                    }
                }

                .message-scroll-container {
                    position: absolute;
                    top: $detailHeadersHeight + $detailTabsHeight - 25px;
                    bottom: 0;
                    left: $scrollPadding;
                    right: $scrollPadding;

                    ion-scroll {
                        position: absolute;
                        height: 100%;
                        background: #ffffff;
                        padding: 5px $scrollPadding $scrollPadding;

                        pre {
                            word-break: break-all;
                        }
                    }

                    &.viewNormal ion-scroll {
                        padding: 0 6px 0 0;
                    }

                    @include landscape() {
                        ion-scroll {
                            height: 100vh;
                        }

                        ion-scroll {
                            .flex-center {
                                //align-items: initial;
                            }
                        }
                    }
                }

            }
        }
    }

}
